[submodule "lib/min-api"]
	path = lib/min-api
	url = https://github.com/jonasohland/min-api
[submodule "lib/oscpp"]
	path = lib/oscpp
	url = https://github.com/kaoskorobase/oscpp
[submodule "lib/liboh"]
	path = lib/liboh
	url = https://github.com/jonasohland/liboh
